body {
    background-color: #a9a9a9;
}

h1 {
    text-align: center;
    background-color: #808080;
}

h2{
    text-align: center;
}

.divider{
    margin-top: 3px;
    margin-bottom: 3px;
}

#uvi{
    display: flex;
}

#forecastedWeather{
    display: flex;
    margin-top: 1vh;
}

#currentWeather{
    display: flex;
    text-align: center;

}