body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    background-color: burlywood;
}

h2{
    text-align: center;
}

.divider{
    margin-top: 3px;
    margin-bottom: 3px;
}

#uvi{
    display: flex;
}
